1.0 Imported Libraries

In [21]:
# importing libraries
import pandas as pd
import numpy as np
import os

2.0 Import Data

In [22]:
df = pd.read_csv(r'C:\Users\cmas9\OneDrive\Documents\Master folder\Project Management\Data\Raw Data\orders.csv', index_col = False)

In [23]:
path= r'C:\Users\cmas9\OneDrive\Documents\Master folder\Project Management'

In [24]:
orders_products_combined=pd.read_pickle(os.path.join(path,'Data','Manipulated Data','orders_products_combined.pkl'))

In [25]:
df_prods =pd.read_csv(os.path.join(path,'Data','Manipulated Data','products_checked.csv'), index_col = False)

In [26]:
orders_products_combined.shape

(32640698, 11)

In [27]:
df_prods.shape

(49672, 6)

In [28]:
# Check the Output
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,both

In [29]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [34]:
# Merge df_prods and orders_products_combined
ords_prods_merged= orders_products_combined.merge(df_prods, on ='product_id')

In [35]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,both,195,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0

In [40]:
# Export data to csv
ords_prods_merged.to_csv(os.path.join(path,'Data','Manipulated Data', 'ords_prods_merged.csv'))

In [41]:
# Export data to pkl
ords_prods_merged.to_pickle(os.path.join(path,'Data','Manipulated Data', 'ords_prods_merged.pkl'))