1.0 Imported Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

# import data

In [2]:
path= r'C:\Users\cmas9\OneDrive\Documents\Master folder\Project Management'

In [3]:
orders_products_merged=pd.read_pickle(os.path.join(path,'Data','Manipulated Data','orders_products_merged.pkl'))

If-Statement using function

In [4]:
orders_products_merged.rename(columns={'order_dow':'order_day_of_week'},inplace=True)

In [5]:
orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,income_x,first_name_y,surname_y,gender_y,state_y,Age_y,date_joined_y,n_of_dependants_y,marital_status_y,income_y
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,...,40423,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,prior,2,3,7,15.0,196.0,1.0,1.0,...,40423,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,prior,3,3,12,21.0,196.0,1.0,1.0,...,40423,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,prior,4,4,7,29.0,196.0,1.0,1.0,...,40423,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,prior,5,4,15,28.0,196.0,1.0,1.0,...,40423,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [6]:
orders_products_merged.isnull().sum()

order_id                        0
user_id                         0
eval_set                        0
order_number                    0
order_day_of_week               0
order_hour_of_day               0
days_since_prior_order    2076096
product_id                      0
add_to_cart_order               0
reordered                       0
_merge                          0
Unnamed: 0                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                       5127
price_range_loc                 0
Busiest day                     0
busiest_period_of_day           0
max_order                       0
loyalty_flag                    0
avg_price                       0
spending_flag                   0
median_order_frequency          5
order_frequency_flag            5
first_name_x                    0
surname_x                       0
gender_x                        0
state_x                         0
Age_x                           0
date_joined_x                   0
n_of_dependants_x               0
marital_status_x                0
income_x                        0
first_name_y                    0
surname_y                       0
gender_y                        0
state_y                         0
Age_y                           0
date_joined_y                   0
n_of_dependants_y               0
marital_status_y                0
income_y                        0
dtype: int64

In [ ]:
order_products_merged= df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [7]:
df = orders_products_merged[:1000000]

In [8]:
df.shape

(1000000, 16)

In [9]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range product'
  else: return 'Not enough data'

In [10]:
# Apply the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\cmas9\AppData\Local\Temp\ipykernel_18224\902492192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [11]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [12]:
df['prices'].max()

14.8

If statement using loc( ) funstion

In [13]:
orders_products_merged.loc[orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [14]:
orders_products_merged.loc[(orders_products_merged['prices'] <= 15) & (orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [15]:
orders_products_merged.loc[orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [16]:
orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [17]:
# If-statements using For-Loops
orders_products_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [18]:
result = []

In [19]:
for value in orders_products_merged["order_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [20]:
orders_products_merged ['Busiest day']=result

In [21]:
len(result)

32404859

In [22]:
orders_products_merged['Busiest day'].value_counts(dropna=False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: Busiest day, dtype: int64

# Task 4.7
Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [46]:
orders_products_merged.head(5)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,Busiest day
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy
2,473747,1,prior,3,3,12,21.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy
3,2254736,1,prior,4,4,7,29.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,prior,5,4,15,28.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0,Mid-range product,Least busy

In [24]:
#Saturday, and Sunday are the busiest days

In [25]:
#4 When too many users make Instacart orders at the same time, the app freezes. 
#The senior technical officer at Instacart wants you to identify the busiest hours of the day. 
#Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” 
#Create a new column containing these labels called “busiest_period_of_day.”

In [47]:
dict_labeling_counts = orders_products_merged['order_hour_of_day'].value_counts(dropna = False).to_dict()

In [48]:
dict_labeling_counts

{10: 2761760,
 11: 2736140,
 14: 2689136,
 15: 2662144,
 13: 2660954,
 12: 2618532,
 16: 2535202,
 9: 2454203,
 17: 2087654,
 8: 1718118,
 18: 1636502,
 19: 1258305,
 20: 976156,
 7: 891054,
 21: 795637,
 22: 634225,
 23: 402316,
 6: 290493,
 0: 218769,
 1: 115700,
 5: 87961,
 2: 69375,
 4: 53242,
 3: 51281}

In [50]:
list_quantile = list(orders_products_merged['order_hour_of_day'].value_counts(dropna = False).quantile([0.75, 0.5, 0.25]))

In [51]:
results_labeling_hour = []

In [53]:
for value in orders_products_merged['order_hour_of_day']:
    for key, val in dict_labeling_counts.items():
        if value == key:
            if val < list_quantile[2]:
                results_labeling_hour.append('Fewest orders')
            elif val >= list_quantile[2] and val < list_quantile[1]:
                results_labeling_hour.append('Average orders')
            elif val >= list_quantile[1]:
                results_labeling_hour.append('Most orders')

In [55]:
def labeling_result (x):
    most_orders = x.count('Most orders')
    average_orders = x.count('Average orders')
    fewest_orders = x.count('Fewest orders')
    
    print(f'Most orders: {most_orders}')
    print(f'Average orders: {average_orders}')
    print(f'Fewest orders: {fewest_orders}')
    print(f'Total: {most_orders + average_orders + fewest_orders}')

In [57]:
labeling_result(results_labeling_hour)

Most orders: 27818650
Average orders: 3989881
Fewest orders: 596328
Total: 32404859

In [58]:
orders_products_merged['order_hour_of_day'].shape

(32404859,)

In [59]:
orders_products_merged['busiest_period_of_day'] = results_labeling_hour

In [62]:
# 5 Print the frequency for this new column.

In [63]:
orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       27818650
Average orders     3989881
Fewest orders       596328
Name: busiest_period_of_day, dtype: int64

In [64]:
orders_products_merged.to_pickle(os.path.join(path, 'Data','Manipulated Data','orders_products_merged.pkl'))